@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for input animation */
input[type='text'] {
  transition: width 0.4s ease-in-out;
  width: 0;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

input[type='text'].open {
  width: 200px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}
